.sfondo {
    background-color: rgb(28, 187, 171);
}

tr{
    &:hover{
        background-color: rgb(189, 242, 222);
    }
    &:nth-child(2n+0) { 
        background: rgb(208, 208, 253); 
}
}

.gray{
    background: rgb(230, 230, 230); 
} 

